<!--
/**
* Base colors from typo3-macher.de
* orange: COLOR:#dd5113;
* bright-orange: COLOR: #FF8700;
* grey: COLOR: #333333; COLOR: #666666;
* blue: COLOR: #40627b;
*/

H2 {
	background-image: url('../gfx/t3m_logo_star_small.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	text-align: center !important;
}

H2, H3 {
	font-weight: bold !important;
	font-size: larger !important;
}

A {
	text-decoration: underline;
	font-weight: bold;
}


table.typo3-dblist tr td.c-headLineTable {
    background-color: #b7bec9;
}

-->
